.products__book {
    display: flex;
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    transition: all 0.5s;
  }
  
  .products__book img {
    width: 130px;
    margin: 0 10px 0 0;
    border: 1px solid black;
    box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.25);
  }
  .products > p {
    position: absolute;
    top: 50px;
    right: 25px;
    font-weight: bold;
    color: red;
  }